*{
    box-sizing: border-box;
}

body{
   position: relative;
   overflow-x: hidden;
}

.img{
    width: 90px;
    border-radius: 50%;
    height: 70px;
}
.section{
display: flex;
flex-wrap: wrap;
background-color: #476353;
color: #fff;
position: relative;
top: 70px;

}
.content{
    display: flex;
    width: 48%;
    border: 3px solid #e4af46 ;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300px;
    position: relative;
}
.h1{
    text-align: center;

}

.ana{
    text-align: justify;
    width: 90%;
    position: relative;
    left: 20px;
}

.ana::first-letter{
    font-size: 200%;
    color:#e4af46 ;
}
.h3{
    display: flex;
    justify-content: center;
    background-color: #e4af46;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    left: 85px;
    padding: 5px;
    width: 70%;

}
.h3:hover{
    color: #e4af46;
    background-color: #476353;
    border: 2px solid #e4af46;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 3px olivedrab ;
}


.zoom-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(honeyp1.png );
  position: relative;
  top: 70px;
   background-repeat: no-repeat;
   height: 530px;
   background-size:  100% 100%;
   animation: zoom 25s  infinite  alternate ;  
}
@keyframes zoom{
25%{
  background-image: url(honey2.webp);
  background-repeat: no-repeat;
  background-size:  100% 100%;


}
50%{
  background-image: url(honeyBee.webp);
  background-repeat: no-repeat;
  background-size:  120% 120%;
}
75%{
  background-image: url(honey4.png);
  background-repeat: no-repeat;
  background-size:  100% 100%;
}
 100%{
  background-image: url(honeyp1.png);
  background-repeat: no-repeat;
  background-size:  120% 120%;
}
}
.head1{
  font-size: xxx-large;
  font-family: "Lucida Handwriting", cursive;
  color: white;
  letter-spacing: 50px;
  text-shadow: 1px 1px 5px black;

}

.source{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4af46;
    z-index: 1;
    position: relative;
    top: 70px;
}

.bee{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.p{
    text-align: justify;
    font-size: large;
    font-weight: bold;
    color: #342528;
}

.info{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.box{
    margin-left: 60px;
}
.box h2{
    color: #fff;
   
}

*{
  margin: 0;
    padding: 0;
}


nav ul {
    list-style-type: none;
    display: flex;
    margin-right:130px ;
    justify-content: space-between;
}

header{
   display: flex;
   align-items: center;
   
    font-size: large;
     font-weight: bold;
   justify-content: space-between;
   
}

nav ul li a {
     color: #ffffff;
     text-decoration: none;
}
nav ul li {
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 8px;
    position: relative;
    cursor: pointer;
    
}
.HL{

background-color: #476353;
height: 70px;
position:fixed ;
width: 100%;
z-index: 3;

}


nav ul li::after{
content: '';
width:0;
height: 3px;
background-color:#E58707;
position: absolute;
left:0;
bottom: -2px;
transition: 0.5s;

}
nav ul li:hover::after{
    width:100%;
}

.logo{
margin-bottom:60px ;

}

.box h2{
    color: #342528;
}

.footer{
    display: flex;
    position: relative;
    top: 70px;
    background-color: #476353;
    align-items: center;
    justify-content: space-around;
    color: #342528;
}

.copyright{
    display: flex;
    align-items: center;
}

.footer img{
    width: 50px;
    height: 50px;
}

.footer a img{
    width: 30px;
    height: 30px;
}


